:root{
    --border: 1px solid black;

    --clr-bg: white;
    --clr-text: black;
    --clr-main: rgb(22, 83, 12);
    --clr-main-light: rgb(192, 227, 188);
    --clr-main-dark: rgb(23, 82, 16);
    
    --clr-light: white;
    --clr-dark: black;

    --clr-main-font: rgb(23, 126, 19);
    --space-small: 1rem;
    --space-mid: 3rem;
    --space-huge: 5rem;

    --clr-test: rgb(232, 232, 232);
}

*{
    font-family: 'Tinos';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body{
    min-height: 100vh;
} */

main{
    min-height: 80vh;
}

/* <!-----[\]------> */
.head-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--clr-light);
    padding: 0 min(10vw, 3rem) 0 min(10vw, 3rem);
}

.head-desc h1{
    display: block;
    margin-bottom: var(--space-mid);
    text-decoration: underline;
    text-decoration-style: solid;   
    text-decoration-thickness: 1px; 
    text-underline-offset: 10px;  

        font-size: 2.5rem;
}

.head-desc p{
    padding: 0 var(--space-huge) 0 var(--space-huge);
    font-size: 1.3rem;
}


.section{
    padding-top: var(--space-huge);
    padding-bottom: var(--space-huge);
}

.smallSection{
    margin-top: var(--space-huge);
    margin-bottom: var(--space-mid);  
}

.noneDecorateLink{
    text-decoration: none;
    color: black;
}



/* <!-----[HEADER]-----> */

#BANNER{

    background-color: var(--clr-main);
    height: 20vh;
}

/* #INDEX-MAIN{
    background-image: linear-gradient(rgba(106, 216, 224, 0.176), rgba(114, 114, 114, 0.185)), 
                                    url(images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* <!-----[HERO]-----> */

#HERO{
    background-image: linear-gradient(rgb(30, 92, 22), rgba(30, 92, 22, 0.518)), 
                                        url(images/deco.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: var(--clr-main);
    flex-direction: column;
    display: flex;
    align-items: center;
}

#HERO button{
    margin-top: 5rem;
    border-radius: 10px;
    background-color: var(--clr-light);
    padding: 1rem;
}

#HERO button a{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--clr-dark);
}


/* <!-----[NAVIGATION BAR]-----> */

#NAVBAR{
    background-color: var(--clr-main-light);
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    justify-content: left;
    align-items: center;

    overflow: hidden;
    font-size: 1.2rem;
}

#NAVBAR #LOGOLINK{
    height: 100%;
    display: flex;
    align-items: center;
}

#NAVBAR #LOGOLINK #LOGO{
    border-radius: 100%;
    height: 90%;
    margin-left: 1rem;
}

#NAV-ITEMS{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navItem{
    display: inline-block;
    padding: 1rem;
}

.navItem a{
    text-decoration: none;
    color: #000000;
}


.navItem::after{
    content: "";
    width: 0%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background-color: var(--clr-main);
    transition: 0.3s;
}

.navItem:hover::after{
    width: 100%;
}


/* <!-----[PROSPECT]-----> */

#PROSPECT{
    padding: 5rem;
    display: flex;
    justify-content: center;
    gap: var(--space-mid);
}

.prospect-div{
    border: var(--border);
    border-radius: 1rem;
    padding: var(--space-small);
    max-width: 20rem;
}

.prospect-div h2{
    text-align: center;
    margin-bottom: var(--space-small);
}

.prospect-div p{
    text-align: justify;
}

/* <!-----[ACHIEVEMENT-SECTION]-----> */

#ACHIEVE{
    background-color: var(--clr-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#COUNT-SECTION{
    margin-top: var(--space-mid);
    margin-bottom: var(--space-huge);
}

.count-div{
    height: 10rem;
    width: 10rem;
    
    border: var(--border);
    border-color: var(--clr-light);
    border-radius: 1rem;
    display: inline-block;
    padding: var(--space-small);
    text-align: center;

    margin-left: var(--space-small);
    margin-right: var(--space-small);
}

.count-div .number{
    font-size: 4rem;
    font-weight: bold;
    color: var(--clr-light);
}

.count-div .who{
    font-size: 2rem;
    color: var(--clr-light);
}

.imageShowcase{
    display: flex;

    /* padding: 0 20vw 0 20vw; */
}

.imageShowcase img{
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 30vw;
    /* max-width: 20rem; */
    
}

/* <!-----[FOOTER]-----> */

footer{
    margin-top: var(--space-mid);
    /* padding: var(--space-small); */
    background-color: rgb(1, 26, 6);
    color: var(--clr-light);
    font-size: 1rem;
}


#FOOTER-DIVIDER{
    /* margin-top: var(--space-small); */
    /* background-color: red; */
    padding: var(--space-mid) 0 var(--space-mid) 0;
    display: flex;
    justify-content: space-evenly;
}


.dividerDiv{
    padding: var(--space-small);
    /* border: var(--border);
    border-color: white; */
}

.dividerDiv a{
    text-decoration: none;
    color: var(--clr-light);
    font-size: 1.3rem;
    padding-bottom: var(--space-mid);
    line-height: 2.5rem;
}

.dividerDiv a:hover{
    color: var(--clr-main-light);
}

#FOOTERLINK-SECTION{
    /* border: var(--border);
    border-color: white; */
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--space-small);
}

#FOOTERLOGOLINK{
    color: var(--clr-light);
    text-decoration: none;
    margin-bottom: var(--space-small);

    text-decoration: underline;
    text-decoration-style: solid;   
    text-decoration-thickness: 1px; 
    text-underline-offset: 10px; 
}

.footerLinkDiv{
    display: flex;
    margin-bottom: 0.8rem;
}

.footerLinkDiv p{
    margin-left: var(--space-small);
}




/* <!-----[HOME]-----> */

#SEARCH-SECTION{
    display: flex;
    justify-content: right;
    padding: var(--space-small);
}

#SEARCH-DIV{
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--space-small);
    border-radius: 3rem;
    background-color: rgb(242, 242, 242);
    transition: 0.25s;
}

#SEARCHBAR{
    margin-left: var(--space-small);
    outline: none;
    border: none;
    background: transparent;
    width: 15rem;
}

#SEARCHBAR::placeholder{
    color: rgba(0, 0, 0, 0, 0.25);
    font-size: 1rem;
}

#SEARCH-DIV i{
    color: rgba(0, 0, 0, 0, 0.25);  
}

#SEARCH-DIV:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)
}


/* <!-----[LATEST ARTICLES SECTION]-----> */

#LATEST, #SUGGEST{
    /* background-color: tomato; */
    padding: var(--space-small);
}

.articleCard{
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    /* height: 8rem; */
    align-items: center;
    margin-bottom: var(--space-small);
}

.hoverElement{
    transition: 0.2s;
}

.hoverElement:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.articleCardImg{
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 7rem;
    margin: 0.5rem;
}

.articleCardInfo{
    margin-left: var(--space-small);
    height: 80%;
}

.articleCardTitle{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.articleCardLink{
    text-decoration: none;
    
}

.articleCardLink:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.articleCardHashtags{
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.hashtag{
    border: var(--border);
    border-radius: 0.5rem;
    padding: 0.1rem;
    color: black;
    text-decoration: none;
}

.hashtag a{
    text-decoration: none;
    color: black;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.hashtag::before{
    content: "#"
}

.hashtag:hover{
    background-color: rgb(235, 235, 235);
    transform: scale(1.01);
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.15); */
}

#SUGGEST-ARTICLES{
    display: flex;
    overflow: scroll;
}

#SUGGEST-ARTICLES .articleCard{
    /* border-top: 1px solid black; */
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    /* height: 8rem; */
    flex-direction: column;
    align-items: center;
    transition: 0.2s;

    width: 30vw;
    max-width: 30rem;

    margin-right: var(--space-small);
    
    overflow-wrap: anywhere;
}

#SUGGEST-ARTICLES .articleCardImg{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    max-width: 30rem;
    max-height: 30rem;
    margin: 0.5rem;
}


/* <!----[ARTICLE]-----> */

#BOTTOM-SECTION, #COMMENT-SECTION{
    /* background-color: red; */
    padding: 0 5rem 0 5rem;
    font-size: 1.2rem;
}
#CONTENT-SECTION,  #SOURCE-SECTION{
    padding-bottom: var(--space-mid);
    padding-right: 20vw;
    padding-left: 20vw;
    font-size: 1.3rem;
}

#SOURCE-SECTION{
    padding-top: 1.5rem;
}

#CONTENT-SECTION p{
    margin-bottom: 0.6rem;
}

#CONTENT-SECTION h2{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    color: var(--clr-main-font);
    border-bottom: 2px solid var(--clr-main-font);
    font-size: 1.6em;
}

#CONTENT-SECTION h3{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.4em;
}

#TITLE-DIV{
    margin: 2rem 0 2rem 0;
}

#TITLE{
    font-size: 2em;
    text-align: center;
}

#DESC{
    font-style: italic;
    background-color: rgb(236, 246, 233);
    padding: var(--space-small);
    margin-left: var(--space-mid);
    margin-right: var(--space-mid);
    /* border-radius: var(--space-small); */
}

.tab{
    margin-left: 5%;
}
.center{
    text-align: center;
}

.imgDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
}

.imgDiv img{
    width: 50vw;
    object-fit: contain;
    max-width: 100%;
    max-height: 70vh;
}

.imgDiv p{
    font-size: 1rem;
}

#BOTTOM-SECTION{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: var(--space-huge);
    justify-content: center;
}

#BOTTOM-SECTION button{
    background-color: white;
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
}

#BOTTOM-SECTION button p{
    font-size: 1rem;
}

#BOTTOM-SECTION #COMMENT-BUTTON{
    /* background-color: red; */
    width: 14rem;
}

#BOTTOM-SECTION button i{
    transform:scale(2);
    color: var(--clr-dark);
}


#BOTTOM-SECTION button:hover p{
    transform:scale(1.05);
    color: var(--clr-main-dark);
}

#BOTTOM-SECTION button:hover i{
    transform:scale(2.1);
    color: var(--clr-main-dark);
}

/* <!-----[COMMENT-SECTION]-----> */

#COMMENT-SECTION{
    /* background-color: red; */
    margin-top: var(--space-mid);
    /* background-color: rgb(232, 232, 232); */
}

#COMMENT-SECTION-INFO{
    margin-bottom: var(--space-mid);
}

.textWithIcon{
    display: flex;
    align-items: center;
}

.textWithIcon i{
    margin-right: var(--space-small);
    transform: scale(1.2);
}


.comment{
    display: flex;
}


.commentAvatar{
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: white;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    margin-top: var(--space-small);
}

.commentDiv{
    background-color: rgb(240, 240, 240);
    display: inline-block;
    padding: var(--space-small);
    border-radius: 1rem;
    margin-left: var(--space-small);
}

.commentInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-small);
}

.commentor{
    font-size: 1.2em;
}

.commentDate{
    font-size: 0.8em;
}

.commentor{
    font-weight: bold;
}

/* <!-----[\]-----> */

.aboutPerson{
    width: 10rem;
    margin-left: var(--space-mid);
    margin-right: var(--space-mid);
}

.aboutPersonDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutPerson img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.aboutPersonName{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}


.aboutPersonTitle{
    font-weight: 600; 
    font-style: italic;
    text-align: center;
}

.aboutPersonInfo{
    text-align: center;
}


/* <!-----[CONTACT]-----> */

#CONTACT-SECTION{
    padding-left: var(--space-mid);
    padding-right: var(--space-mid);
    font-size: 1.5rem;
}

.contactMean{
    display: flex;
    margin-bottom: 0.8rem;
    align-items: center;
    margin-top: var(--space-mid);
}

.contactMean i{
    transform: scale(2);
}

.contactMean p{
    margin-left: var(--space-small);
    font-size: 2rem;
}




















/* [\ */

.cardsDiv{
    display: flex;
    flex-wrap: wrap;
}

.cardDiv{
    position: relative;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.cardDiv img{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    border-radius: 3px;
}

.cardDiv .backCard {
    transform: rotateY(180deg);
}

.cardDiv:hover .frontCard {
    transform: rotateY(180deg);
}

.cardDiv:hover .backCard {
    transform: rotateY(360deg);
}

.cardDiv:hover .cardBack {
    animation: rotateCard 0.5s linear forwards;
}

@keyframes rotateCard {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(180deg);
    }
}





@media(max-width: 800px){

#CONTENT-SECTION,  #SOURCE-SECTION, #COMMENT-SECTION{
    padding-right: var(--space-mid);
    padding-left: var(--space-mid);
    font-size: 1.2rem;
}

.head-desc p{
    padding-left: 5rem;
    padding-right: 5rem;
}

#PROSPECT{
    padding: 2rem;
    gap: var(--space-small);
}

.prospect-div{
    max-width: 30rem;
}

.prospect-div h2{
    font-size: 1.3rem;
}


#SUGGEST .articleCardTitle{
    font-size: 1.7rem;
}

#SUGGEST-ARTICLES .articleCard{
    min-width: 45vw;
}

.hashtag{
    margin-left: var(--space-small);
}

.imgDiv img{
    width: 60vw;
}

}

@media(max-width: 500px){

#PROSPECT{
    padding: 1rem;
}

.prospect-div h2{
    font-size: 1.3rem;
}


.head-desc p{
    padding-left: 1rem;
    padding-right: 1rem;
}

.count-div{
    height: 8rem;
    width: 8rem;
}

.count-div .number{
    font-size: 3rem;
}

.count-div .who{
    font-size: 1.5rem;
}


.imageShowcase{
    flex-direction: column;
}

.imageShowcase img{
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 70vw;
    margin-bottom: var(--space-small);
}


#CONTENT-SECTION,  #SOURCE-SECTION, #COMMENT-SECTION{
    padding-right: var(--space-small);
    padding-left: var(--space-small);
    font-size: 1.1rem;
}

#BOTTOM-SECTION{
    gap: var(--space-small);
}

#BOTTOM-SECTION button{
    width: 5rem;
    gap: var(--space-mid);
}

#BOTTOM-SECTION button p{
    font-size: 0.8rem;
}

#BOTTOM-SECTION button i{
    transform:scale(1.5);
    color: var(--clr-dark);
}

footer{
    font-size: 0.9rem;
}


#FOOTER-DIVIDER{
    /* margin-top: var(--space-small); */
    /* background-color: red; */
    padding: var(--space-small) 0 var(--space-small) 0;
    display: flex;
    justify-content: space-evenly;
}

.dividerDiv a{
    font-size: 1.1rem;
    line-height: 2rem;
}

#NAVBAR{
    font-size: 0.9rem;
}

#LATEST, #SUGGEST{
    /* background-color: tomato; */
    padding: var(--space-small);
}

.articleCard{
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    /* height: 8rem; */
    align-items: center;
    margin-bottom: var(--space-small);
}

.articleCardImg{
    height: 6rem;
}


.articleCardTitle{
    font-size: 1.5rem;
}



#SUGGEST-ARTICLES .articleCardImg{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 45rem;
    max-height: 45rem;
    margin: 0.5rem;
}

#SUGGEST-ARTICLES .articleCardTitle{
    font-size: 1.3rem;
}

#SUGGEST-ARTICLES .articleCardDesc{
    font-size: 0.9rem;
}

.imgDiv img{
    width: 80vw;
}


}

.searchContent{
    display: inline;
    font-style: italic;
}

.searchContent::before, .searchContent::after{
    content: "\"";
}